#titlediv #title.warning {
    background-color: #ffdf7f;
}

#titlediv #title.error {
    background-color: #ff7f7f;
}

/*
 * * * * * * * * * * * * * * * * * * * *
 *             Login Form              *
 * * * * * * * * * * * * * * * * * * * *
 */
#login,
.login {
    background-color: #004441;
}

#login form,
.login form {
    background-color: #006562;
}

#login label,
.login label {
    color: #ffffff;
}

#login h1 a,
.login h1 a {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}

.login #backtoblog a,
.login #nav a {
    color: #ffffff;
    font-size: 1.2em;
}

